<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>-->
    <div id="all">
        <div class="about-sec section" id="about">
            <div class="container" id="math">
                <div class="row" style="margin-left: 90px; margin-right: 90px;color: #34c663">
                    <h2>Science Fiction</h2>
                </div>
                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                           
                                <img style="height: 290px; width: 180px;">
                                <img src="../../../images/new6.jpg" />
                           
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                           
                                <img style="height: 290px; width: 180px;" src="images/new1.jpg" alt="">
                            
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                           
                                <img style="height: 290px; width: 180px;" src="images/new2.jpg" alt="">
                           
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                          
                                <img style="height: 290px; width: 180px;" src="images/new3.jpg" alt="">
                           
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                            
                                <img style="height: 290px; width: 180px;" src="images/new4.jpg" alt="">
                            
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                            
                                <img style="height: 290px; width: 180px;" src="images/new5.jpg" alt="">
                           
                        </div>
                     
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                           
                                <img style="height: 290px; width: 180px;" src="images/new8.jpg" alt="">
                          
                        </div>
                   
                    </div>
                </div>

                <div class="col-md-3 product-men">
                    <div class="product-chr-info chr">
                        <div class="thumbnail">
                          
                                <img style="height: 290px; width: 180px;" src="images/new7.jpg" alt="">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div id="phy" class="row" style="margin-left: 90px; margin-right: 90px; color: #34c663">
                <h2>Romantic </h2>
            </div>
            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                      
                            <img style="height: 290px; width: 180px;" src="images/up1.jpg" alt="">
                       
                    </div>

                </div>
            </div>

            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                       
                            <img style="height: 290px; width: 180px;" src="images/up2.jpg" alt="">
                      
                    </div>

                </div>
            </div>

            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                        
                            <img style="height: 290px; width: 180px;" src="images/up3.jpg" alt="">
                        
                    </div>

                </div>
            </div>

            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                       
                            <img style="height: 290px; width: 180px;" src="images/up4.jpg" alt="">
                        
                    </div>

                </div>
            </div>

            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                       
                            <img style="height: 290px; width: 180px;" src="images/up5.jpg" alt="">
                       
                    </div>

                </div>
            </div>

            <div class="col-md-3 product-men">
                <div class="product-chr-info chr">
                    <div class="thumbnail">
                       
                            <img style="height: 290px; width: 180px;" src="images/up6.jpg" alt="">
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
<!--</body>
</html>-->
<link href="Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
