<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>History of Library</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/book">
                    Book List
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/request">Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/login">Services</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>-->

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
            <!--<img class="img-fluid rounded" src="http://placehold.it/900x400">-->
            <img class="img-fluid rounded" src="http://localhost:1812/images/enhanced-buzz-orig-5209-1388669709-15.jpg" alt="" style="height:200px;width:650px;" />
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Early libraries</h1>
          <p>Library history is the academic discipline devoted to the study of the history of libraries; 
            it is a subfield of library science and of history.
              Things were much the same in the government and temple records on papyrus of Ancient Egypt.[2]
              The earliest discovered private archives were kept at Ugarit.</p>
          <!--<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>-->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0"></p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Classical period</h2>
                <p class="card-text">
                    The Library of Alexandria, in Egypt, was the largest and most significant great library of the ancient world.[12]
                    It flourished under the patronage of the Ptolemaic dynasty and functioned as a major center of scholarship from its
                    construction in the 3rd century BC until the Roman conquest of Egypt in 30 BC. </p>
            </div>
            <div class="card-footer">
                <a href="#/image" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Publishers</h2>
              <p class="card-text">
                  Private or personal libraries made up of written books (as opposed to the state or institutional records kept in archives)
                  appeared in classical Greece in the 5th century BC.
              </p>
            </div>
            <div class="card-footer">
              <!--<a href="#" class="btn btn-primary">More Info</a>-->
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">More About Library</h2>
              <p class="card-text">
                  The library's ruins were hidden under debris of the city of Ephesus that was deserted in early Middle Ages. In 1903,
                  Austrian excavations led to this hidden heap of rubble that had collapsed during an earthquake.
                </p>
            </div>
            <div class="card-footer">
              <!--<a href="#" class="btn btn-primary">More Info</a>-->
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      
    </footer>-->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
