
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>History of Library</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#/book">
                    Book List
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/request">Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#/login">Services</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>-->
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">
                <!--<img class="img-fluid rounded" src="http://placehold.it/900x400">-->
                <img class="img-fluid rounded">
                <img src="../../../images/l4.jpg"alt="" style="height:200px;width:650px;" />
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h1>First Law: Books are for use</h1>
                <p>
                    The first law constitutes the basis for the library services.
                    Dr. Ranganathan observed that books were often chained to
                    prevent their removal and that the emphasis was on storage and preservation rather than use.
                </p>
                <!--<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>-->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body">
                <p class="text-white m-0"></p>
            </div>
        </div>
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Second Law: Every reader has his/her book</h2>
                        <p class="card-text">
                            This law suggests that every member of the community should be able to obtain materials needed. Dr.
                            Ranganathan felt that all individuals from all social environments were entitled to library service,
                            and that the basis of library use was education,
                            to which all were entitled. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#/image" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Third Law: Every book its reader</h2>
                        <p class="card-text">
                            This principle is closely related to the second law,
                            but it focuses on the item itself,
                            suggesting that each item in a library has an individual or individuals who would find that item useful. 
                        </p>
                    </div>
                    <div class="card-footer">
                        <!--<a href="#" class="btn btn-primary">More Info</a>-->
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Fourth Law: Save the time of the reader</h2>
                        <p class="card-text">
                            This law is a recognition that part of the excellence of library service is its ability to
                            meet the needs of the library user efficiently. To this end,
                            Dr. Ranganathan recommended the use of appropriate business methods to improve library management.
                        </p>
                    </div>
                    <div class="card-footer">
                        <!--<a href="#" class="btn btn-primary">More Info</a>-->
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>

    </footer>-->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
