<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />


</head>
<body>
    <div class="row"><br /></div>
    <div class="row">

        <div class="col-md-12">
            <div style="font-family:fantasy; color:#808080;"><h1 style="color:#808080;text-align:center">About Us</h1> </div>
        </div>
        <hr />
        <div class="col-md-12" >
            <p style="text-align:justify">
                <h1 style="text-align:center;">moony parvez</h1>
                TechShop is an online shopping destination where you can shop the widest selection of Different electronic items
                in Bangladesh and have them shipped directly to your
                home or office at your convenience! We offer free returns and various payment options including cash on delivery.
                With affordable prices and great products,  Exclusive lets you enjoy an awesome shopping experience with your order sent directly to your doorstep.
                No muss, no fuss, super convenience guaranteed.
                We are constantly expanding our product range to include the latest gadgets, fashion styles and new categories and we don't want you to miss out!
                Follow us on Facebook, Twitter, Google+, Linkdin to stay updated on the latest offers and Exclusive news. Happy shopping!
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <center>
                <img src="../../img/about/info-icon.gif" />
            </center>
            <div>
                <h3 style="text-align:center;font-family:fantasy;color:#808080;">Helps you make the right choice</h3>
                <hr />
                <ul>
                    <li>Unparalleled shopping experience in Bangladesh</li>
                    <li>Light on your pockets with an unmatched convenience level</li>
                    <li>Wide scope of local & foreign brands</li>
                    <li>Most stylish, trendy and reliable shopping platform</li>
                    <li>Fast delivery</li>
                    <li>100% guaranteed products</li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <center><img src="../../img/about/help.png" /></center>
            <div>
                <h3 style="text-align:center;font-family:fantasy;color:#808080;">How to get more information or order?</h3>
                <hr />
                <ul>
                    <li>01738507330,01727750408</li>
                    <li>customer.care@TechShop.com.bd</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <center><img src="../../img/about/abroad.png" alt="" /></center>
            <hr />
            <div class="usp_wrap1">
                <h3 class="ti-heading-title" style="text-align:center;font-family:fantasy;color:#808080;">Our Internationl Journey</h3>
                <hr />
                <br />

                <p class="ti-body">TechShop  providing it's product delivery services to Bangladesh, Pakistan, Nepal</p><br>


            </div>

        </div>
        <div class="col-md-6">
            <center><img src="../../img/about/fashion.png" alt="" /></center>
            <hr />
            <div>
                <h3 style="text-align:center;font-family:fantasy;color:#808080;">Latest Fashion Your Choice</h3>
                <hr />


                <p style="text-align:justify">
                    TechShop brings to you the most sought after collection of Laptop, Desktop,
                     Mobile, Tablets and Other Technological Accessories. We are there before you to source the latest products exclusively for your Choice.
                </p>
            </div>

        </div>
    </div>


</body>
</html>
