<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <br />
    </div>


    <div class="container">
        <div class="row" style="color:#ed843f;">
            <div class="col-md-12">
                <div style="font-family:fantasy; color:#a4b0b5;text-align:center;"><h1 style="color:#a4b0b5">Contact Us</h1> </div>
            </div>
        </div><hr />
        <div class="row">
            <div class="col-md-3 pull-left">
                <center>
                    <img src="../../img/contact/if_contact_37110.png" />
                    <h3>Email</h3>
                    <a href="mailto:Support@example.com">Support@TechShop.com</a>
                </center>

            </div>
            <div class="col-md-3" style="margin-left:160px;">
                <center>
                    <img src="/img/contact/if_call_46785.png"  />
                    <h3>Phone</h3>
                    <p>+880173850733</p>
                    <p>+8801737895846</p>
                </center>
            </div>
            <div class="col-md-3 pull-right">
                <center>
                    <img src="/img/contact/if_facebook_group_mobile_meeting_twitter_trust_circle_social_networks_517107.png" />
                    <h3>Social</h3>
                    <p>
                        <a href="https://www.facebook.com/Exclusive-Online-Shop-1279172902203786/"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                        <a href="http://twitter.com/"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                        <a href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    </p>
                </center>
            </div>
        </div>

    </div>
</body>
</html>
