<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <h2 style="margin-left:7%;font-family:fantasy;color:#808080">FAQs</h2>
    <div class="container" style="color:black;">
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Are all products on TechShop original and genuine? 
            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p style="text-align:justify">
                    Yes. We are committed to offering our customers only 100% genuine and original products.
                    We also take all necessary actions to ensure this: any seller found to be selling non-genuine
                    products is immediately delisted from TechShop.
                    Please send an email to customer.care@TechShop.com.bd if you think a product listed on our website does not meet
                    these standards.
                </p>
            </div>

        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                How do I place an order?
            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p>
                    Shopping on TechShop is easy!
                    Once you have found the product you want to buy, just follow the steps below:
                    <div>
                        <ul>
                            <li>Click ’buy now’, to add this product to your cart,</li>
                            <li>Click ’Go to next step’ in the top right corner, </li>
                            <li>You will then need to fill in your contact details and preferred shipping address,</li>
                            <li>Chose your preferred payment option before clicking the ’Confirm order’ button.</li>
                        </ul>
                    </div>
                </p>
            </div>

        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                How do I pay on TechShop?

            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p>
                    We have the following payment methods through which you can make a payment:
                    <ul>
                        <li>Cash On Delivery (easy and simple at your doorstep)</li>
                        <li>Credit/Debit Card</li>
                    </ul>
                </p>
            </div>

        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                How can I get a refund or replacement for my product?

            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p>
                    Step 1: Start the Easy & Fast Return
                    <ul>
                        <li>
                            Login to your account at www.GsShop.com.bd , click "My Orders", "Orders Details" and "Return"
                            and follow the instructions on the screen! OR
                        </li>
                        <li>
                            Call us at 16492 to create your return, select the product you wish to return on the returns form that
                            arrived with your order. Include this form in your package
                        </li>
                    </ul>
                </p>

                <p>
                    Step 2: Pack your product
                    <ul>
                        <li>Pack your product, including all tags and accessories</li>
                    </ul>
                </p>

                <p>
                    Step 3: Return your product
                    <ul>
                        <li>If you requested a pickup, we will contact you to arrange a pickup time within 2 days OR</li>
                        <li >
                            If you selected a drop-off:
                            Inside-Dhaka: Drop your item at 66/4 West Rajabazar, Tejgaon, Dhaka-1215
                            Outside-Dhaka: Drop your item at any Sundarban Courier service hub,
                            addressed to Mr.Alamgir, C/O-Daraz, Sundarban Courier Service, Kamarpara, Dhaka
                        </li>

                    </ul>
                </p>

                <p>
                    Step 4: What's next
                    <ul>
                        <li>
                            We will send a tracking number via SMS after the package has been picked up or dropped off.
                            We will immediately initiate your replacement after it passes our quality evaluation.
                            For expected timielines see page 2 of this form
                        </li>
                    </ul>
                </p>
            </div>

        </div>
        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Are there any hidden costs or charges if I order from TechShop?

            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p>
                    There are no hidden costs or charges when you order from TechShop.
                    All costs are 100% visible at the end of the checkout process.
                </p>
            </div>

        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                How can I track my order?

            </a>

            <div class="dropdown-menu" style="position:relative;width:1200px" id="faq">
                <p style="text-align:justify">
                    We will send you regular updates about the status of your order via emails and SMS.
                    After your order has left our warehouse and is on its way to you,
                    you can also track its status by entering your tracking number on <a href="https://www.facebook.com/mdmoonyparvez/">RPS Library</a>
                </p>
            </div>

        </div>

    </div>
</body>
</html>
