


<script type="text/javascript">


    $(document).ready(function () {
        $("#mi-slider").catslider();
    })
</script>


<div class="container" ng-controller="productsCtrl">
    <div class="row">
        <div class="col-md-9">
            
            <div class="well well-lg offer-box text-center">
                Today's Offer : &nbsp; <span class="glyphicon glyphicon-cog"></span>&nbsp;20 % off  on purchase of $ 200 and above till 24 dec !
            </div>
            <div class="main box-border" >
                <div id="mi-slider" class="mi-slider">
                    <ul>

                        <li>
                            <a href="#/products">
                                <img src="../images/kazi-nazrul/aleya.jpg" width="220" height="220" alt="img01"><h4>Aleya</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/kazi-nazrul/bethar-dan.jpg" width="220" height="220" alt="img02"><h4>Bethardan</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/kazi-nazrul/bisherbashi.jpg" width="220" height="220" alt="Hard Disk Image" />
                                <h4>Bisherbashi</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/kazi-nazrul/sanda.jpg" width="220" height="220" alt="img04"><h4>Sandha</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#/products">
                                <img src="../images/jasimuddin/ayna.jpg" width="220" height="220" alt="img05"><h4>Ayna</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/jasimuddin/balu-chor.jpg" width="220" height="220" alt="img06"><h4>Balu-Chor</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/jasimuddin/beder-meye.jpg" width="220" height="220" alt="img07"><h4>Bedher Meye</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/jasimuddin/kobor.jpg" width="220" height="220" alt="img08"><h4>Kobor</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#/products">
                                <img src="../images/rabindranath/denapana.jpg" width="220" height="220" alt="img09"><h4>Dena-Paona</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/rabindranath/didi.jpg" width="220" height="220" alt="img10"><h4>Didi</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/rabindranath/dristidan.jpg" width="220" height="220" alt="img11"><h4>Dristidan</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/rabindranath/ghaterkotha.jpg" width="220" height="220" alt="" /><h4>Ghater Kotha</h4>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="#/products">
                                <img src="../images/humayun-ahmed/basor.jpg" width="220" height="220" alt="img12"><h4>Basor</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/humayun-ahmed/megherchhaya.jpg" width="220" height="220" alt="img13"><h4>Megher Chhaya</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/humayun-ahmed/golperjadukor.jpg" width="220" height="220" alt="img14"><h4>Golper Jadukor</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#/products">
                                <img src="../images/humayun-ahmed/kresnopokkho.jpg" width="220" height="220" alt="img15"><h4>Krishno Pakkho</h4>
                            </a>
                        </li>
                    </ul>
                    <nav>
                        <a href="#/">Nazrul</a>
                        <a href="#/">Jasim</a>
                        <a href="#/">Rabindranath</a>
                        <a href="#/">Humayun</a>
                      
                    </nav>
                </div>

            </div>
            <br />
        </div>
        <!--offer aria-->
        <div class="col-md-3 text-center">
            <div class=" col-md-12 col-sm-6 col-xs-6">
                <div class="offer-text">
                    15% off here
                </div>
                <div class="thumbnail product-box">
                    <img src="../images/kazi-nazrul/bethar-dan.jpg" alt="" />
                    <div class="caption">
                        <h4><a href="#/offers">Bethardan</a></h4>
                        <p><marquee direction="left" scrolldelay="10" onmouseover="stop()" onmouseout="start()">Upcoming Promotion</marquee></p>
                        <p><a href="#"> </a></p>
                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-sm-6 col-xs-6">
                <div class="offer-text2">
                    25% off here
                </div>
                <div class="thumbnail product-box">
                    <img src="../images/rabindranath/didi.jpg" alt="" />
                    <div class="caption">
                        <h4><a href="#/offers">Didi</a></h4>
                        <p><marquee direction="right" scrolldelay="10" onmouseover="stop()" onmouseout="start()">On Going Promotion</marquee></p>
                        <!--<p><a href="#"></a></p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h1 style="text-align: center; color: #ff0000">New Arrival</h1>


                <div class="row text-center">

                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[1].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[0].Picture}}" />

                            <span>{{model.sbooks[0].Name}}</span>&nbsp;$<span>{{model.sbooks[0].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[0])" ng-disabled="model.sbooks[0].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[1].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" ng-src="{{model.sbooks[1].Picture}}" />

                            <span>{{model.sbooks[1].Name}}</span>&nbsp;$<span>{{model.sbooks[1].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[1])" ng-disabled="model.sbooks[1].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[1].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[2].Picture}}" />

                            <span>{{model.sbooks[2].Name}}</span>&nbsp;$<span>{{model.sbooks[2].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[2])" ng-disabled="model.sbooks[2].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">
                            <p><strong>{{model.sbooks[1].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[3].Picture}}" />

                            <span>{{model.sbooks[3].Name}}</span>&nbsp;$<span>{{model.sbooks[3].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[3])" ng-disabled="model.sbooks[3].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row text-center">

                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[6].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[6].Picture}}" />

                            <span>{{model.sbooks[6].Name}}</span>&nbsp;$<span>{{model.sbooks[6].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[6])" ng-disabled="model.sbooks[6].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[14].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[14].Picture}}" />

                            <span>{{model.sbooks[14].Name}}</span>&nbsp;$<span>{{model.sbooks[14].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[14])" ng-disabled="model.sbooks[14].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[20].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[20].Picture}}" />

                            <span>{{model.sbooks[20].Name}}</span>&nbsp;$<span>{{model.sbooks[20].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[20])" ng-disabled="model.sbooks[20].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[28].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[28].Picture}}" />

                            <span>{{model.sbooks[28].Name}}</span>&nbsp;$<span>{{model.sbooks[28].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[28])" ng-disabled="model.sbooks[28].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row text-center">

                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[35].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[35].Picture}} " />

                            <span>{{model.sbooks[35].Name}}</span>&nbsp;$<span>{{model.sbooks[35].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[35])" ng-disabled="model.sbooks[35].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[40].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[40].Picture}}" />

                            <span>{{model.sbooks[40].Name}}</span>&nbsp;$<span>{{model.sbooks[40].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[40])" ng-disabled="model.sbooks[40].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[19].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[19].Picture}} " />

                            <span>{{model.sbooks[19].Name}}</span>&nbsp;$<span>{{model.sbooks[19].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[19])" ng-disabled="model.sbooks[19].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail ">

                            <p><strong>{{model.sbooks[33].Category}}</strong></p>

                            <img style="width:220px;height:220px;" class="thumbnail img-rounded" src="{{model.sbooks[33].Picture}} " />

                            <span>{{model.sbooks[33].Name}}</span>&nbsp;$<span>{{model.sbooks[33].Price}}</span>

                            <button class="btn btn-primary" ng-click="addToCart(model.sbooks[33])" ng-disabled="model.sbooks[33].Stocklevel === 0"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />



                <div class="row text-center">

                    <div class="col-sm-3">
                        <div class="thumbnail " style="background-color:#518cb4;">

                            <p><strong>Frequently Asked Question</strong></p>
                            <a href="#/FAQ"><button class="btn">KNOW MORE&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>


                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail " style="background-color:#518cb4">


                            <p><strong>Privacy & Policy</strong></p>
                            <a href="#/pp"><button class="btn">READ MORE&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>



                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail " style="background-color:#518cb4">

                            <p><strong>Terms & Conditions</strong></p>
                            <a href="#/TC"><button class="btn">FIND MORE&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>


                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail " style="background-color:#518cb4">
                            <p><strong>Offers Available</strong></p>
                            <a href="#/offers"><button class="btn">KNOW MORE&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

