<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="row country" >

        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../images/kazi-nazrul/bisherbashi.jpg" class="img-responsive center-block" alt="" />
   
            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        
        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../images/rabindranath/dristidan.jpg" class="img-responsive center-block" alt="" />

           
            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">
            <img src="../images/humayun-ahmed/megherchhaya.jpg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>


        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../images/moruvaskor.jpg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../images/patherdabi.jpg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
        <div class="col-sm-5ths col-xs-4 text-center">

            <img src="../images/rakhaligan.jpg" class="img-responsive center-block" alt="" />

            <h4 style="color:#ff6a00">Offer Available!</h4>

        </div>
      </div>
</body>
</html>
