
 <div>
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron" style="background-color:white">
                <img src="../../Image/Thank-you-1-300x300.png"/>
                <div style="float:right;">
                    <h3>Your Order Confirm. Transaction Id is:  {{model.transactionId}}</h3>
                    <br />
                    <h3>You will also receive a summary of your order via email</h3>
                    <p>
                        Thank you for shopping at <a href="onlineshop.com"> TechShop.com.bd</a><br />
                        <br />
                        if you have any Questions about your order please<b><a href="#/contact">Contact Us</a></b>
                    </p>

                    <a type="submit" class="btn btn-sm btn-primary btn-lg" href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
   

  