
    <div class="row" style="margin-top:20px;border-radius:2%;background-color:#c5e7fb;max-width:350px;margin:0px auto;margin-bottom:30px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1 style="font-family:'Book Antiqua';">RPS Online Library</h1>
                <br />
                <i class="fa fa-user-secret fa-5x" style="color:#1e5d9a" aria-hidden="true"></i>
                <h3 style="font-family:fantasy;">Admin Panel</h3>
                <p class="lead" style="font-family:Book Antiqua;">You must login first.</p>

                <button class="btn btn-sm btn-primary" ng-click="showLoginForm()"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
            </div>
        </div>
    </div>

