<div ng-controller="productsCtrl">
   <div class="row">
       <div class="col-md-12" style="margin-top:0px;">
           <h2><b>Books Panel</b></h2>
           <table class="table table-bordered table-striped">
               <thead>
                   <tr>
                       <td colspan="4" align="left">
                           <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                               <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                               <input type="text" ng-model="search" class="form-control" id="inlineFormInputGroup" placeholder="Search Here....">
                           </div>
                       </td>
                       <td colspan="3" align="right"><button class="btn btn-primary btn-sm" title="Create New" ng-click="addNew()"><span class="glyphicon glyphicon-plus"></span></button></td>
                   </tr>
                   <tr>
                       <th>Book name</th>
                       <th>Picture</th>
                       <th>Book Category</th>
                       <th>Book Price</th>
                       <th>Description</th>
                       <th>Stocklevel</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="sbook in model.sbooks|orderBy:'Category'| range:selectedPage:pageSize|filter:search">
                       <td>{{sbook.Name}}</td>
                       <td><img ng-src="{{sbook.Picture}}" class="img-rounded img-thumbnail" width="40" /></td>
                       <td>{{sbook.Category}}</td>
                       <td style="text-align:right">{{sbook.Price|currency}}</td>
                       <td>{{sbook.BriefDescription}}</td>
                       <td>{{sbook.Stocklevel}}</td>

                       <td>
                           <button class="btn btn-default btn-sm" ng-click="editSBook(sbook)"><span class="glyphicon glyphicon-pencil"></span></button>
                           <button class="btn btn-danger btn-sm" ng-click="confirmDelSBook(sbook)"><span class="glyphicon glyphicon-trash"></span></button>
                       </td>
                   </tr>
               </tbody>
           </table>
           <nav class="text-right">
               <ul class="pagination pagination-sm">
                   <li ng-repeat="sbook in model.sbooks|pageCount:pageSize" ng-class="getPageClass($index + 1)"><a ng-click="selectPage($index + 1)" href="">{{$index+1}}</a></li>
               </ul>
           </nav>
       </div>

   </div>
    <!--Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmDialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm??</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete the item?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="delSBook()">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">

                    <h4 class="modal-title">Edit Book</h4>

                </div>
                <div class="modal-body">
                    <form name="editForm" novalidate>
                        <div class="form-group" ng-class="{'has-error':editForm.sbookName.$invalid && !editForm.sbookName.$pristine}">
                            <label class="control-label">Book Name</label>
                            <input type="text" ng-model="model.currentSBook.Name" name="sbookName" class="form-control" required ng-maxlength="50" />
                            <div ng-show="editForm.sbookName.$error.required && !editForm.sbookName.$pristine" class="help-block">book Name is required!</div>
                            <div ng-show="editForm.sbookName.$error.maxlength" class="help-block">Book Name too long!</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':editForm.sbookCategory.$invalid && !editForm.sbookCategory.$pristine}">
                            <label class="control-label">
                                Book Category
                            </label>
                            <input type="text" ng-model="model.currentSBook.Category" name="sbookCategory" maxlength="50" required class="form-control" />
                            <div ng-show="editForm.sbookCategory.$error.required && !editForm.sbookCategory.$pristine" class="help-block">Book Category is required!</div>
                            <div ng-show="editForm.sbookCategory.$error.maxlength" class="help-block">Book Category too long!</div>
                        </div>
                        
                        <div class="form-group" ng-class="{'has-error':editForm.sbookCategory.$invalid && !editForm.sbookPrice.$pristine}">
                            <label class="control-label">Book Price</label>
                            <input type="text" ng-model="model.currentSBook.Price" name="sbookPrice" class="form-control" min="1" required />
                            <div ng-show="editForm.sbookPrice.$error.required && !editForm.sbookPrice.$pristine" class="help-block">Book Price is required!</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Book Picture</label>
                            <button type="button" class="btn btn-default" ng-click="editPictureClick()" >Change Image</button>
                            <img id="newSBookPrictrue" src="{{model.currentSBook.Picture}}" width="50" class="img-thumbnail"  />
                        </div>
                        <div class="form-group" ng-class="{'has-error':editForm.Description.$invalid && !editForm.Description.$pristine}">
                            <label class="control-label">Book Description</label>
                            <textarea name="Description" ng-model="model.currentSBook.Description" class="form-control" maxlength="250" required></textarea>
                            <div ng-show="editForm.Description.$error.required && !editForm.Description.$pristine" class="help-block">Brief Description is required!</div>
                            <div ng-show="editForm.Description.$error.maxlength" class="help-block">Shipping address too long!</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':editForm.Stocklevel.$invalid && !editForm.Stocklevel.$pristine}">
                            <label class="control-label">Stocklevel</label>
                            <input type="text" name="stocklevel" ng-model="model.currentSBook.Stocklevel" class="form-control" required />
                            <div ng-show="editForm.Stocklevel.$error.required && !editForm.Stocklevel.$pristine" class="help-block">Stock is required!</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="cancelEditSBook()" form="editForm">Cancel</button>
                    <button type="submit" form="editForm" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="updateSBook()">Save changes</button>
                </div>


            </div>
        </div>
    </div>
   <!--Insert Modal-->
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">

                    <h4 class="modal-title">Add New Book</h4>

                </div>
                <div class="modal-body">
                    <form name="insertForm" novalidate>
                        <div class="form-group" ng-class="{'has-error':insertForm.sbookName.$invalid && !insertForm.sbookName.$pristine}">
                            <label class="control-label">Book Name</label>
                            <input type="text" ng-model="model.currentSBook.Name" name="sbookName" class="form-control" required ng-maxlength="50" />
                            <div ng-show="insertForm.sbookName.$error.required && !insertForm.sbookName.$pristine" class="help-block">Book Name is required!</div>
                            <div ng-show="insertForm.sbookName.$error.maxlength" class="help-block">Book Name too long!</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':insertForm.sbookCategory.$invalid && !insertForm.sbookCategory.$pristine}">
                            <label class="control-label">
                                Book Category
                            </label>
                            <input type="text" ng-model="model.currentSBook.Category" name="sbookCategory" maxlength="50" class="form-control" required/>
                            <div ng-show="insertForm.sbookCategory.$error.required && !insertForm.sbookCategory.$pristine" class="help-block">Book Category is required!</div>
                            <div ng-show="insertForm.sbookCategory.$error.maxlength" class="help-block">Book Category too long!</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':insertForm.sbookCategory.$invalid && !insertForm.sbookPrice.$pristine}">
                            <label class="control-label">Book Price</label>
                            <input type="text" ng-model="model.currentSBook.Price" name="sbookPrice" class="form-control" min="1"  required />
                            <div ng-show="insertForm.sbookPrice.$error.required && !insertForm.sbookPrice.$pristine" class="help-block">Book Price is more than 0 required!</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':insertForm.Description.$invalid && !insertForm.Description.$pristine}">
                            <label class="control-label">Book Description</label>
                            <textarea name="Description" ng-model="model.currentSBook.Description" class="form-control" maxlength="250" required></textarea>
                            <div ng-show="insertForm.Description.$error.required && !insertForm.Description.$pristine" class="help-block">Brief Description is required!</div>
                            <div ng-show="insertForm.Description.$error.maxlength" class="help-block">Shipping address too long!</div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label">Book Picture</label>
                            <button type="button" class="btn btn-default" ng-click="newSBookPictureClick()">Select Image</button>
                            <img id="newSBookPrictrue" ng-show="model.currentSBook.Picture" width="50" class="img-thumbnail"/>
                        </div>
                        <div class="form-group" ng-class="{'has-error':insertForm.Stocklevel.$invalid && !insertForm.Stocklevel.$pristine}">
                            <label class="control-label">Stocklevel</label>
                            <input type="number" ng-model="model.currentSBook.Stocklevel" name="Stocklevel" class="form-control" required />
                            <div ng-show="insertForm.Stocklevel.$error.required && !insertForm.Stocklevel.$pristine" class="help-block">Stocklevel is required!</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" form="insertForm">Cancel</button>
                    <button type="submit" form="insertForm" class="btn btn-primary" ng-disabled="insertForm.$invalid" ng-click="saveSBook()">Save</button>
                </div>


            </div>
        </div>
    </div>
   
</div>
