<div ng-controller="historyctrl">
    <h2 style="text-align:center">History of Issue Books</h2>
    <form class="form-inline" style="float:right">
        <div class="form-group" ng-class="{'has-error':frmbooking.PassengerName.$invalid && !frmbooking.PassengerName.$pristine}">
            <input type="search" ng-model="searchText" placeholder="search by book name" class="form-control" id="bn" name="bn" />

        </div>
    </form>
   
    <table class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">#</th>
                <th style="text-align:center">BookId</th>
                <th style="text-align:center">Username</th>
                <th style="text-align:center">Issue Date</th>
                <th style="text-align:center">Due Date</th>
               
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="b in his|filter:searchText|orderBy:sortKey:reverse|range:selectedPage:pageSize">
                <td>
                    {{b.Id}}
                </td>
                <td>
                    {{b.BookId}}
                </td>
                <td>
                    {{b.username}}
                </td>

                <td>
                    {{b.IssueDate}}
                </td>
                <td>
                    {{b.DueDate}}
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="text-right">
        <ul class="pagination pagination-sm">
            <li ng-repeat="b in his|pageCount:pageSize" ng-class="getPageClass($index + 1)"><a ng-click="selectPage($index + 1)" href="">Page-{{$index+1}}</a></li>
        </ul>
    </nav>
</div>





